JSON_n8n/Gestión de Activos de Infraestructura2 - Produccion NEW.json
{
  "name": "Gestión de Activos de Infraestructura2 - Produccion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-sql-query",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        -848
      ],
      "id": "99e06719-2dd1-46a0-aff2-8b1cc05ea086",
      "name": "Webhook",
      "webhookId": "dd8988c4-2b64-434d-8c14-120f9d111e32",
      "credentials": {
        "httpBasicAuth": {
          "id": "H2qr0iN51Z5uiQWy",
          "name": "agent-sql"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b25523c1-7e71-40c7-bb6f-0e3584d8c44d",
                    "leftValue": "={{ $('Webhook').item.json.body.action }}",
                    "rightValue": "query_csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c9327903-c5e2-4bb1-bbd9-46e5051ec4ec",
                    "leftValue": "={{ $('Webhook').item.json.body.action }}",
                    "rightValue": "query_gmail",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e2ce116f-35f5-465a-9650-ce911c4aeb9b",
                    "leftValue": "={{ $('Webhook').item.json.body.action }}",
                    "rightValue": "query_drive",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1136,
        -544
      ],
      "id": "b353328b-da92-4462-9c0e-250d0d95ca3c",
      "name": "Switch"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1328,
        -992
      ],
      "id": "b5b02d73-c792-4044-8d7e-05185012c1cc",
      "name": "Op 1"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1680,
        -944
      ],
      "id": "9726e087-983f-4509-9f66-9eeda70faf02",
      "name": "Op 2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2080,
        -704
      ],
      "id": "033c61c4-2e2a-4e80-bdce-612fee16fbfe",
      "name": "Op 3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2080,
        -480
      ],
      "id": "8c621b95-8f67-4063-8a13-29d9fa3f4319",
      "name": "Op 4"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.destination }}",
        "subject": "Reporte generado desde n8n",
        "message": "Hola, aquí tiene el reporte. Está adjunto en un xlsx.",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "reporte"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1616,
        -704
      ],
      "id": "5949b3ba-3544-445c-883a-f728fee53679",
      "name": "Send a message",
      "webhookId": "10468bf6-6a65-4d35-8d9e-7912fa315036",
      "alwaysOutputData": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "bDj3JDYVRUoNzOhJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "reporte",
        "name": "=reporte_{{ $now.toFormat('yyyy-MM-dd_HH-mm') }}.xlsx",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1616,
        -480
      ],
      "id": "49eaaf39-0787-4ef4-a4d6-df63c488dba0",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7ieIbzHWiXkEsZFR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "67d2ab54-06c6-4656-bc87-75b228aad1fe",
              "leftValue": "={{ $('Webhook').item.json.body.action }}",
              "rightValue": "query_only",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        704,
        -816
      ],
      "id": "c2ba01e9-5dc7-4992-a1dd-0c937adf90d2",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "reporte",
        "options": {
          "fileName": "=reporte_{{ $now.toFormat('yyyy-MM-dd_HH-mm') }}.xlsx",
          "headerRow": true,
          "sheetName": "reporte"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        880,
        -528
      ],
      "id": "899cd1d9-4c1b-4cfc-97c4-d26496b31095",
      "name": "Convert to XLSX"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ { \"action\": $json.body.action, \"message\": $json.body.message } }}",
        "options": {
          "systemMessage": "# CONTEXTO\nEres un asistente experto en PostgreSQL. Tu única función es convertir una pregunta en lenguaje natural en una consulta SQL segura.\n\n# OBJETIVO\nGenerar una única y segura consulta SQL de tipo `SELECT` basándote en el mensaje del usuario.\n\n# REGLAS\n1.  Tu salida debe ser ÚNICA Y EXCLUSIVAMENTE el código SQL.\n2.  No incluyas \"hola\", \"```sql\", ni explicaciones. Solo el `SELECT ...;`.\n3.  Usa siempre comillas dobles para tablas y columnas (ej. \"IdActivo\").\n4.  Prohibido `INSERT`, `UPDATE`, `DELETE`, `DROP`.\n\n# ESQUEMA DE BD (Tu esquema va aquí)\ncreate table public.\"Activo\" (\n  \"IdActivo\" bigint generated by default as identity not null,\n  \"Marca\" character varying not null,\n  \"Modelo\" character varying not null,\n  \"FechaCompra\" date not null,\n  \"IdCategoria\" bigint not null,\n  \"IdImportancia\" bigint not null,\n  \"IdConfidencialidad\" bigint not null,\n  constraint Activo_pkey primary key (\"IdActivo\"),\n  constraint Activo_idActivo_key unique (\"IdActivo\"),\n  constraint Activo_IdCategoria_fkey foreign KEY (\"IdCategoria\") references \"Categoria\" (\"IdCategoria\"),\n  constraint Activo_IdConfidencialidad_fkey foreign KEY (\"IdConfidencialidad\") references \"Confidencialidad\" (\"IdConfidencialidad\"),\n  constraint Activo_IdImportancia_fkey foreign KEY (\"IdImportancia\") references \"Importancia\" (\"IdImportancia\")\n) TABLESPACE pg_default;\n\ncreate table public.\"AsignacionActivo\" (\n  \"IdEmpleado\" bigint generated by default as identity not null,\n  \"IdActivo\" bigint not null,\n  \"FechaAsignacion\" date not null,\n  constraint AsignacionActivo_pkey primary key (\"IdEmpleado\", \"IdActivo\"),\n  constraint AsignacionActivo_IdActivo_fkey foreign KEY (\"IdActivo\") references \"Activo\" (\"IdActivo\"),\n  constraint AsignacionActivo_IdEmpleado_fkey foreign KEY (\"IdEmpleado\") references \"Empleado\" (\"Legajo\")\n) TABLESPACE pg_default;\n\ncreate table public.\"Categoria\" (\n  \"IdCategoria\" bigint generated by default as identity not null,\n  \"NombreCategoria\" character varying not null,\n  constraint Categoria_pkey primary key (\"IdCategoria\"),\n  constraint Categoria_id_key unique (\"IdCategoria\")\n) TABLESPACE pg_default;\n\ncreate table public.\"Confidencialidad\" (\n  \"IdConfidencialidad\" integer generated by default as identity not null,\n  \"Nivel\" character varying not null,\n  constraint Confidencialidad_pkey primary key (\"IdConfidencialidad\"),\n  constraint Confidencialidad_Nivel_key unique (\"Nivel\")\n) TABLESPACE pg_default;\n\ncreate table public.\"Empleado\" (\n  \"Legajo\" bigint generated by default as identity not null,\n  \"Nombre\" character varying not null,\n  \"Apellido\" character varying not null,\n  \"FechaContratacion\" date not null,\n  \"IdPuesto\" bigint null,\n  constraint Empleado_pkey primary key (\"Legajo\"),\n  constraint Empleado_Legajo_key unique (\"Legajo\"),\n  constraint Empleado_IdPuesto_fkey foreign KEY (\"IdPuesto\") references \"Puesto\" (\"IdPuesto\")\n) TABLESPACE pg_default;\n\ncreate table public.\"Importancia\" (\n  \"IdImportancia\" integer generated by default as identity not null,\n  \"Nivel\" character varying not null,\n  constraint Importancia_pkey primary key (\"IdImportancia\"),\n  constraint Importancia_Nivel_key unique (\"Nivel\")\n) TABLESPACE pg_default;\n\ncreate table public.\"Mantenimiento\" (\n  \"IdMantenimiento\" bigint generated by default as identity not null,\n  \"IdActivo\" bigint not null,\n  \"FechaMantenimiento\" date not null,\n  \"Descripcion\" character varying not null,\n  \"Tipo\" character varying not null,\n  \"IdEmpleado\" bigint not null,\n  constraint Mantenimiento_pkey primary key (\"IdMantenimiento\"),\n  constraint Mantenimiento_IdMantenimiento_key unique (\"IdMantenimiento\"),\n  constraint Mantenimiento_IdActivo_fkey foreign KEY (\"IdActivo\") references \"Activo\" (\"IdActivo\"),\n  constraint Mantenimiento_IdEmpleado_fkey foreign KEY (\"IdEmpleado\") references \"Empleado\" (\"Legajo\")\n) TABLESPACE pg_default;\n\ncreate table public.\"Puesto\" (\n  \"IdPuesto\" bigint generated by default as identity not null,\n  \"Nombre\" character varying not null,\n  constraint Puesto_pkey primary key (\"IdPuesto\")\n) TABLESPACE pg_default;\n\n# Case sensitive: A la hora te realizar consultas ten en cuenta que en mis tablas utilizo Upper Camel Case en los nombres de las tablas y columnas. Si intentas llamas a una tabla o columna con otro estilo de escritura te dará error"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        96,
        -864
      ],
      "id": "fd8d959c-f4ef-4c69-a1d2-ee54fdeb8c6b",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        432,
        -864
      ],
      "id": "acbd11f7-961c-4886-98d3-307796b1257c",
      "name": "Execute a SQL query",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "39GeIRhL6JOWmV4A",
          "name": "Postgres-Supabase"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0ee92ef4-a1b8-4d3e-aa86-a4174e7c19ed",
              "name": "Mensaje",
              "value": "=El informe se cargó correctamente.",
              "type": "string"
            },
            {
              "id": "81a0f86c-42b2-42d7-a431-f720532e48ed",
              "name": "webViewLink",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        -480
      ],
      "id": "346f94d9-278d-43c1-b72e-00dea4e9a0ca",
      "name": "Mensaje de carga"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0ee92ef4-a1b8-4d3e-aa86-a4174e7c19ed",
              "name": "Mensaje",
              "value": "=El informe se envio correctamente.",
              "type": "string"
            },
            {
              "id": "7e3d2d59-95e5-4444-9f9a-448d987f121a",
              "name": "Estado",
              "value": "={{ $json.labelIds[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        -704
      ],
      "id": "462dc80b-2e7a-41d5-9e14-3b80064db606",
      "name": "Mensaje de envío"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4dd1be8-688c-40cd-83bc-ec03af882ec7",
              "name": "mensaje",
              "value": "Aquí tienes los datos consultados",
              "type": "string"
            },
            {
              "id": "6f297f2c-3a21-4dc2-bda7-93171cc6d9a4",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        -960
      ],
      "id": "a4205261-572e-410f-8658-1f3b340e95f5",
      "name": "Mensaje"
    },
    {
      "parameters": {
        "jsCode": "const arrayDeDatos = {\"data\":$('Execute a SQL query').all().map(item => item[\"json\"])};\n\n\nreturn arrayDeDatos;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        -960
      ],
      "id": "b089d5b8-1e37-4844-b97c-9f0eb3ab3b8e",
      "name": "Empaquetar Datos"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.action }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        -528
      ],
      "id": "2ebfece5-9e40-4f1f-a3f3-816d03455e19",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        32,
        -560
      ],
      "id": "f5aa4022-5b7b-4708-9163-05eb8273f37e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "i6gEmNkz4Rq3sGLW",
          "name": "AgenteLLMGemini"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Op 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Mensaje de envío",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Mensaje de carga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Empaquetar Datos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to XLSX": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje de carga": {
      "main": [
        [
          {
            "node": "Op 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje de envío": {
      "main": [
        [
          {
            "node": "Op 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje": {
      "main": [
        [
          {
            "node": "Op 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empaquetar Datos": {
      "main": [
        [
          {
            "node": "Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "a1ae0f62-d8ea-48ae-b7ae-fd825edb54eb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe25a9664dfe6f248e9fd169eb5ab6b09ef922152222101fed7bc51c444c374b"
  },
  "id": "fOtjvq8AzB8jaA24",
  "tags": []
}