JSON_n8n/Gestión Activos de Infraestructura v5.json
{
  "name": "Gestión Activos de Infraestructura v5",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1712,
        48
      ],
      "id": "33a5402a-3826-4cd0-ab12-5122ef237672",
      "name": "Chat Trigger",
      "webhookId": "chat-webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-sql-query",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1712,
        320
      ],
      "id": "67d6f134-b4a4-492e-b477-1157fba6c8c7",
      "name": "Webhook POST",
      "webhookId": "b79b4795-2c31-49c5-ae54-7282d31f62aa",
      "credentials": {
        "httpBasicAuth": {
          "id": "H2qr0iN51Z5uiQWy",
          "name": "agent-sql"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "input-assign",
              "name": "chatInput",
              "value": "={{ $json.body?.message || $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "session-assign",
              "name": "sessionId",
              "value": "={{ $json.body?.sessionId || $json.sessionId || 'session_default' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1424,
        176
      ],
      "id": "c88f032f-d42e-416e-bd7d-e193fd8717e2",
      "name": "Edit Fields (Normalize)"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1120,
        464
      ],
      "id": "00c3e5f3-adad-4d28-8c49-8e71d6be0e74",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "i6gEmNkz4Rq3sGLW",
          "name": "AgenteLLMGemini"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields (Normalize)').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -960,
        480
      ],
      "id": "e08a59f7-fb42-4c1e-9888-aee41d74081a",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$fromAI('query')}}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -800,
        480
      ],
      "id": "1dbb250d-0b67-4cea-acfe-c47071da49af",
      "name": "Postgres_Tool",
      "credentials": {
        "postgres": {
          "id": "39GeIRhL6JOWmV4A",
          "name": "Postgres-Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Detectar si es JSON de Comando o Texto Conversacional\nconst output = $('SIRA').first().json.output;\n\ntry {\n  // Intentamos parsear. Si falla, es texto.\n  const cleanJson = output.replace(/```json/g, '').replace(/```/g, '');\n  const parsed = JSON.parse(cleanJson);\n  \n  if (parsed.tipo === 'comando') {\n    return { ...parsed, isCommand: true };\n  }\n  return { message: output, isCommand: false };\n} catch (e) {\n  return { message: output, isCommand: false };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        176
      ],
      "id": "7aacd53e-b144-4ab8-a04a-46b6a3de8185",
      "name": "Router Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-command",
              "leftValue": "={{ $json.isCommand }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -368,
        176
      ],
      "id": "6df86fb5-5c37-4af3-8577-bdce7a954450",
      "name": "Is Command?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        128,
        464
      ],
      "id": "b2776861-32c1-4c6b-99a2-ff63dc76a27f",
      "name": "Respond: Texto"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        -96
      ],
      "id": "c426f07d-e092-409c-ae67-27ae7b211fda",
      "name": "Execute SQL Full",
      "credentials": {
        "postgres": {
          "id": "39GeIRhL6JOWmV4A",
          "name": "Postgres-Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "reporte",
        "options": {
          "fileName": "={{ $('Router Parser').item.json.nombre_archivo.concat($now.toFormat('-yyyy-MM-dd_HH-mm')) }}.xlsx"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        192,
        -96
      ],
      "id": "3643299d-e5de-4177-9bad-3b39561f2cdb",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-drive",
              "leftValue": "={{ $('Router Parser').first().json.accion.includes(\"drive\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        -240
      ],
      "id": "015df8e7-8210-4b04-bc99-dfaae939963f",
      "name": "If Drive"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-email",
              "leftValue": "={{ $('Router Parser').first().json.accion.includes(\"email\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        -48
      ],
      "id": "79b83335-382c-437e-ad80-8ac1c0274793",
      "name": "If Email"
    },
    {
      "parameters": {
        "inputDataFieldName": "reporte",
        "name": "={{ $('Router Parser').first().json.nombre_archivo }}.xlsx",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        960,
        -256
      ],
      "id": "eb2c7cfc-4cbd-4cdb-aae0-3eaa94ed48a6",
      "name": "Upload Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7ieIbzHWiXkEsZFR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Router Parser').first().json.destino_email }}",
        "subject": "=Reporte: {{ $('Router Parser').first().json.nombre_archivo }}",
        "message": "={{ $('Router Parser').first().json.mensaje }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "reporte"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        -64
      ],
      "id": "5ed6b5af-7766-404e-8fa5-c6fdbe9d3369",
      "name": "Send Gmail",
      "webhookId": "7aaafca6-d4cd-4240-9378-50520c5e5a6c",
      "credentials": {
        "gmailOAuth2": {
          "id": "bDj3JDYVRUoNzOhJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-download",
              "leftValue": "={{ $('Router Parser').first().json.accion.includes(\"download\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        384
      ],
      "id": "67df46b7-2099-43bf-9ce2-e78b8000d8fc",
      "name": "If Download"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2064,
        368
      ],
      "id": "bcbaae34-b580-4e79-8377-e5ce91a77c49",
      "name": "Respond: Binary"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2048,
        112
      ],
      "id": "6f5014d8-2831-497c-994d-af25a3d5de73",
      "name": "Respond: OK"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1152,
        656
      ],
      "id": "ea2ca87a-3dc1-4493-9fe8-3e74987e59bb",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "height": 944,
        "width": 624,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1840,
        -224
      ],
      "typeVersion": 1,
      "id": "ab9decc6-f284-4f41-8d50-1f9b18b34093",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "height": 816,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1168,
        -96
      ],
      "typeVersion": 1,
      "id": "346175b6-b510-4967-a21c-cacdb3b3e8bc",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "height": 816,
        "width": 464,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        -96
      ],
      "typeVersion": 1,
      "id": "f7c0e5ea-06b8-49b7-a960-96d73ace43f9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "height": 432,
        "width": 464,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        288
      ],
      "typeVersion": 1,
      "id": "887ed6d2-470b-495c-8e12-808baa2835e7",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "height": 624,
        "width": 464,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -368
      ],
      "typeVersion": 1,
      "id": "f0ef378a-e0b9-4e6b-8e63-75727e976b77",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "height": 912,
        "width": 416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        -368
      ],
      "typeVersion": 1,
      "id": "a38bde07-f1d3-4105-86a0-f736a066e7cc",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "height": 768,
        "width": 336,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        -368
      ],
      "typeVersion": 1,
      "id": "4a8b4857-75f8-4d11-a65c-618f297c0a1c",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "height": 768,
        "width": 304,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1184,
        -368
      ],
      "typeVersion": 1,
      "id": "ea87c350-bf5b-4248-adf0-76f951a2aa7d",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "height": 320,
        "width": 416,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        512
      ],
      "typeVersion": 1,
      "id": "1e9e4c68-5b00-411d-8e11-92b54f281149",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "height": 704,
        "width": 416,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1520,
        -96
      ],
      "typeVersion": 1,
      "id": "d02afe5f-85a5-45b0-890a-cf1f8020d0ee",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields (Normalize)').item.json.chatInput }}",
        "options": {
          "systemMessage": "=Eres \"SIRA\" un Asistente de Infraestructura Híbrido. SIRA proviene de (Sistema Inteligente de Reportes Automatizado).\nTienes acceso directo a la base de datos para responder dudas y capacidad para generar comandos de reporte.\n\nTUS DOS MODOS DE OPERACIÓN:\n\n1. MODO CHAT:\n   - SI el usuario sólo realiza un SALUDO (Ej: \"Hola, Cómo estás?\") sólo saluda cordiamente y procede a preguntarle que acción quiere realizar (Ej: \"Hola, soy el asistente inteligente de Infraestructura ¿Qué tarea necesitas realizar?\").\n   - SI FALTA INFORMACIÓN CRÍTICA. Ejemplo: Si el usuario pide \"enviar por correo\" pero no ha dicho a qué correo, NO generes el comando. Pregúntale: \"¿A qué correo deseas que lo envíe?\".\n   - SI el usuario hace una pregunta directa, sin pedir explícitamente que generes archivo (ej: \"¿Cuántos activos hay?\", \"¿Quién tiene la notebook X?\"), USA LA HERRAMIENTA \"Postgres_Tool\" para consultar la DB, analiza el resultado y responde en lenguaje natural.\n\nPROTOCOLO JSON (Solo para Modo CHAT):\n{\n  \"tipo\": \"CHAT\",\n  \"mensaje\": \"Texto de respuesta\",\n}\n\n2. MODO COMANDO (Generación de Archivos):\n   - SI Y SOLO SI el usuario pide explícitamente CREAR un reporte, archivo, excel, enviarlo por correo o guardarlo en drive.\n   - ENTONCES genera un JSON estricto con la estructura de abajo.\n\nPROTOCOLO JSON (Solo para Modo Comando):\n{\n  \"tipo\": \"comando\",\n  \"mensaje\": \"Texto confirmando la acción\",\n  \"sql\": \"SELECT ...\",\n  \"accion\": \"email\" | \"drive\" | \"download\" (o combinados),\n  \"destino_email\": \"correo@...\" | null,\n  \"nombre_archivo\": \"nombre_sugerido\"\n}\n\n# ESQUEMA DE BASE DE DATOS (PostgreSQL - STRICT Case Sensitive)\nNOTA: Todas las tablas y columnas usan UpperCamelCase. DEBES usar comillas dobles siempre (ej: \"NombreColumna\").\n\n# ESQUEMA DE BASE DE DATOS\n\n## 1. Catálogos y Organización\nTable: Departamento (IdDepartamento, Nombre)\nTable: Puesto (IdPuesto, Nombre, IdDepartamento) -- Relación: Puesto.IdDepartamento -> Departamento.IdDepartamento\nTable: Categoria (IdCategoria, NombreCategoria) -- Ej: Notebook, Monitor, Licencia Windows\nTable: Estado (IdEstado, Estado) -- Ej: Activo, En Reparación, Baja\nTable: Importancia (IdImportancia, Nivel)\nTable: Confidencialidad (IdConfidencialidad, Nivel)\n\n## 2. Personas\nTable: Empleado (Legajo, DNI, Nombre, Apellido, Nacimiento, FechaDeAlta, FechaDeBaja, IdPuesto)\n-- Relación: Empleado.IdPuesto -> Puesto.IdPuesto\n\n## 3. Activos (Inventario)\nTable: Activos (IdActivo, Nombre, FechaDeAdquisicion, FechaDeVencimiento, IdCategoria, IdEstado, IdImportancia, IdConfidencialidad)\n-- Relaciones con catálogos correspondientes.\n\n## 4. Relaciones Clave\nTable: AsignacionEmpleado (IdActivo, LegajoEmpleado, FechaAsignacion, FechaDevolucion)\n-- Define quién tiene qué equipo.\n-- Si \"FechaDevolucion\" IS NULL, significa que el empleado TIENE el activo actualmente.\n-- Joins: .IdActivo -> Activos.IdActivo, .LegajoEmpleado -> Empleado.Legajo\n\nTable: InstalacionActivo (IdActivoHijo, IdActivoPadre, FechaInstalacion)\n-- Define qué software/licencia está instalado en qué equipo.\n-- \"IdActivoHijo\" es el Software (ej. Office 365).\n-- \"IdActivoPadre\" es el Hardware (ej. Notebook Dell).\n-- Joins: Ambos IDs apuntan a Activos.IdActivo.\n\nTable: Mantenimiento (IdTicketMantenimiento, IdActivo, FechaMantenimiento, Descripcion, Tipo, IdEmpleado)\n-- IdEmpleado refiere a quién realizó o supervisó el mantenimiento.\n\n# EJEMPLOS DE JSON\n\n## EJEMPLO 1 (Saludo):\n{ \"tipo\": \"conversacion\", \"chatInput\": \"Hola Agente.\", \"mensaje\": \"¡Hola! Soy tu asistente de datos. ¿Qué necesitas consultar hoy?\" }\n\n## EJEMPLO 2 (Falta Email):\n{ \"tipo\": \"conversacion\", \"chatInput\": \"Hola Agente. Quiero que generes un reporte de todos los empleados y sus equipos y envialo por gmail.\", \"mensaje\": \"Entendido, generaré el reporte. Pero necesito que me indiques la dirección de correo electrónico.\" }\n\n## EJEMPLO 3 (Ejecución Correcta):\n{ \"tipo\": \"comando\", \"chatInput\": \"Hola Agente. Gerenera un reporte con todos los equipos del para descargarlo localmente.\", \"mensaje\": \"Reporte de activos Dell... Generado\", \"sql\": \"SELECT...\", \"accion\": \"email\", \"destino_email\": \"juan@empresa.com\" }\n\n## EJEMPLO 4 (Ejecución Correcta):\n{ \"tipo\": \"comando\", \"chatInput\": \"Hola Agente. Gerenera un reporte con todos los equipos del para por gmail a email@gmail.com y guardalo en drive\", \"mensaje\": \"Reporte de activos Dell... y enviado exitosamente por gmail y almacenado de Drive.\", \"sql\": \"SELECT...\", \"accion\": \"email\", \"destino_email\": \"juan@empresa.com\" }"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1040,
        176
      ],
      "id": "cf6d65c3-1ed4-4b4d-9b1e-5256335b58d1",
      "name": "SIRA"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b041d12f-1acc-4a8c-8790-a4dcfd0bbf74",
              "leftValue": "={{ $('Router Parser').first().json.accion.includes(\"download\") }}",
              "rightValue": "\"drive\"",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        160
      ],
      "id": "63932fee-eff9-4e8f-8c65-4d0eda4dfd5d",
      "name": "if no es descarga local"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "webViewLink"
            },
            {
              "fieldToAggregate": "labelIds[0]",
              "renameField": true,
              "outputFieldName": "mail"
            },
            {
              "fieldToAggregate": "mensaje"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1584,
        112
      ],
      "id": "1d3ae0d3-1c6c-46dc-8619-0091258ea084",
      "name": "Unir campos de salida"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1280,
        96
      ],
      "id": "068798da-13df-407e-aa92-5590019e4ec9",
      "name": "Unir las salidas de cada servicio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c2b6d32-184d-44b9-a71f-0a9583cc08d6",
              "name": "webViewLink",
              "value": "={{ $json.webViewLink[0] }}",
              "type": "string"
            },
            {
              "id": "0fef9497-b707-45ac-bedf-d09720276b09",
              "name": "mail",
              "value": "={{ $json.mail[0] }}",
              "type": "string"
            },
            {
              "id": "180a8a24-7dac-4dab-9bb2-f187c6b9cd4c",
              "name": "mensaje",
              "value": "={{ $json.mensaje[0] }}",
              "type": "string"
            },
            {
              "id": "651cfc4c-b510-4a54-98e8-1ca649d172e7",
              "name": "nombre_archivo",
              "value": "={{ $('Router Parser').item.json.nombre_archivo.concat($now.toFormat('-yyyy-MM-dd_HH-mm')) }}.xlsx",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        112
      ],
      "id": "dca11e97-4036-411f-9486-c8fcbd368c6f",
      "name": "Formatear mensaje de salida"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfec4e53-4d10-4437-8957-aad4aa4677b1",
              "name": "mensaje:",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        464
      ],
      "id": "56c4228d-8d45-4f7e-850b-d653e88faa58",
      "name": "Formatear mensaje de salida1"
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields (Normalize)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST": {
      "main": [
        [
          {
            "node": "Edit Fields (Normalize)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields (Normalize)": {
      "main": [
        [
          {
            "node": "SIRA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "SIRA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "SIRA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres_Tool": {
      "ai_tool": [
        [
          {
            "node": "SIRA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Router Parser": {
      "main": [
        [
          {
            "node": "Is Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Command?": {
      "main": [
        [
          {
            "node": "Execute SQL Full",
            "type": "main",
            "index": 0
          },
          {
            "node": "if no es descarga local",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatear mensaje de salida1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute SQL Full": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "If Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Drive": {
      "main": [
        [
          {
            "node": "Upload Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Email": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Drive": {
      "main": [
        [
          {
            "node": "Unir las salidas de cada servicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail": {
      "main": [
        [
          {
            "node": "Unir las salidas de cada servicio",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If Download": {
      "main": [
        [
          {
            "node": "Respond: Binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SIRA": {
      "main": [
        [
          {
            "node": "Router Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if no es descarga local": {
      "main": [
        [
          {
            "node": "Unir las salidas de cada servicio",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir campos de salida": {
      "main": [
        [
          {
            "node": "Formatear mensaje de salida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir las salidas de cada servicio": {
      "main": [
        [
          {
            "node": "Unir campos de salida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear mensaje de salida": {
      "main": [
        [
          {
            "node": "Respond: OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear mensaje de salida1": {
      "main": [
        [
          {
            "node": "Respond: Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "756e9206-0d6d-494e-8358-4c616e203635",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe25a9664dfe6f248e9fd169eb5ab6b09ef922152222101fed7bc51c444c374b"
  },
  "id": "lz6zp2Co5wKLHvQq",
  "tags": []
}